/* Body styling, including background image, font, and dimensions */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    background-image: url('The-Technical-Podcast-big-no-text.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

/* Padding for the top of the A class elements */
.A {
    padding-top: 3%;
}

/* Heading 1 styling, including text alignment, color, size, and weight */
h1 {
    text-align: center;
    color: #ff7426;
    font-size: 60px;
    font-weight: bold;
}

/* Display flex and centering for the B class elements */
.B {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
}

/* Styling for iframe elements, including border, border radius, and margin */
iframe {
    border:#ff7426;
    border-style: solid;
    border-width:thick;
    border-radius: 25px;
    margin: 1%;
}

/* Display flex and centering for the C class elements */
.C {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    flex-wrap: wrap;
}

/* Styling for the allepisodes class elements, including background color, padding, border radius, and text properties */
.allepisodes {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 1%;
    background-color: #fcde33;
    padding: 1%;
    border-radius: 25px; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1em;
    color: #ff7426;
    text-decoration: none;
    font-weight: bold;
}

/* Styling for the footer, including background color, text alignment, padding, position, width, and bottom properties */
footer {
    background-color: #fcde33;
    text-align: center;
    padding: 20px 0; /* Increase padding */
    position: relative; /* Change position from fixed to relative */
    width: 100%;
    bottom: 0;
}

/* Styling for the paragraph elements within the footer, including margin and color */
footer p {
    margin: 0;
    color: #ff7426;
}